.aboutfull {
	background: no-repeat fixed; 
	background-image: url('./MPics/storebg3.jpg');
	background-size: cover;
}

.info {
	background-color: white;
	border-radius: 20px;
}

.aboutimage {
	border-radius: 20px;
	width: 100%;
}
