@font-face {
    font-family: 'countrysideregular';
    src: url('./Fonts/countryside_personal_use-webfont.woff2') format('woff2'),
        url('./Fonts/countryside_personal_use-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.full {
    background: no-repeat fixed center center;
    background-image: url('./MPics/bg.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
    border-bottom: solid pink 5px;
    border-top: solid pink 5px;
}

.welcome {
    border-top: solid pink 5px;
    background-color: white;
    margin: 70px 0 0 0;
}

.container {
    text-align: center;
    padding: 50px 0 50px 0;
    margin: 70px 70px 0 70px;
}

.body {
    font-family: Times New Roman serif;
    color: #DEB887;
}

.backg {
    background: rgba(220, 220, 220, 0.5);
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.backgBorder {
    height: 390px;
    width: 100%;
    border: 10px solid white;
    position: relative;
    border-radius: 20px;
    margin: 0 auto;
}

.main {
    color: black;
    padding-top: 150px;
    font-family: 'countrysideregular';
    font-size: 6em;
    font-weight: bold;
    z-index: 3;
}

.secondary {
    float: right;
    font-family: times new roman serif;
    font-size: 30px;
    margin-right: 30px;
}

.pic {
    margin: 20px 0 0 0;
    height: 350px;
}

.pic img {
    box-shadow: none;
    transition: box-shadow 1s, transform 1s;
}

.pic img:hover {
    background-color: #331a00;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px;
}

.imgS1 {
    height: 100%;
    width: 100%;
    border: 3px solid #331a00;
    border-radius: 20px;
}

.buttonshop {
    margin-top: 30px;
}

.buttonshop,
.buttonrequest {
    transition: background-color .5s;
    background-color: #deb887;
    border-radius: 10px;
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

.buttonshop:hover,
.buttonrequest:hover {
    background-color: #663333;
    color: white;
}

.shoplink {
    text-decoration: none;
    color: black;
    transition: color .5s;
}

.shoplink:hover {
    color: white;
    text-decoration: none;
}

.contact-btn {
    margin-top: 2rem;
    background-color: #deb887 !important;
    border-radius: 10px;
    transition: background-color .5s;

    &:hover {
        background-color: #663333 !important;
    }
}

#message {
    border-radius: 5px;
    border: solid lightgray 1px;
}

@media(max-width: 520px) {
    .backgBorder {
        height: 700px;
    }
}

@media screen and (min-width: 521px) and (max-width: 991px) {
    .backgBorder {
        height: 520px;
    }

    .pic {
        height: 300px;
    }

    .secondary {
        margin-right: 35px
    }

    .imgS1,
    .imgS2 {
        margin-left: 23px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .pic {
        height: 280px;
    }
}