.list-container {
    padding: 0px 0 50px 0;
    margin-top: 0px !important;
}

.card-deck {
    display: flex;
    justify-content: center;
}

.flexing {
    flex-basis: 360px;
    margin-bottom: 100px;
    padding-right: 15px;
}

.img-container {
    overflow: hidden;
    border-radius: 20px;
    max-height: 200px;
}

.card {
    border: solid pink 3px !important;
    border-radius: 20px !important;
    transition: transform .5s, box-shadow .5s, background-color .5s;
    height: 500px;
    width: 90%;
    box-shadow: 10px 10px 10px;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 16px 16px 16px;
    background-color: #e6e6e6;
    z-index: 3;
    border: solid #ff4d94 3px !important;
}

.card-text {
    margin-bottom: 100px;
}

.remove-btn {
    margin-right: 5px;
}

.update-btn {
    margin-right: 5px;
}

.get-btn {
    margin-right: 5px;
}

.single-get {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 922px) {
    .card-deck {
        justify-content: flex-start;
    }
}